/* LAYOUTS */
.gallery {
    padding: 0 .4em;
}

.gallery section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1.3em 0;
    border-bottom: 1px solid black;
}

.gallery article {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.gallery .badge-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 15vw;
}


/* TEXTS */
.gallery section h1 {
    margin: -.8em 0 0;
}

.gallery section p {
    margin: 0
}

.gallery article h3 {
    align-self: center;
    margin: 0;
}

.gallery article ul {
    margin: 0;
    padding: 0 0 0 1.3em;
    font-size: .8rem;
}

.gallery ul li {
    padding: .3em 0;
}

.gallery article span {
    font-weight: bold;
}

/* Others */
.toast-tooltip-trigger {
    padding: 1em 3em;
    background-color: transparent;
    color: #3399ff;
    border: 1px solid #0073e6;
    border-radius: 50px;
    cursor: pointer;
}

.toast-tooltip-trigger:hover {
    background-color: #0C1823;
}