.testimonial-i {
    padding: 1em 1em 2em;
    background-color: #132b41;
    max-width: 1358px;
    margin-top: 6em;
    border-radius: 7px;
}

.testimonial {
    padding: 2em 1em 4em;
    max-width: 1358px;
    background-color: #F9FAFB;
    color: #111827;
    background-image: url("../images/Path.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.testimonial-i p,
.testimonial p {
    font-size: 1.5rem;
    margin-top: 0;
}

.testimonial p{
    color: #111827;
}

.testimonial-i p {
    color: whitesmoke;
}

.testimonial-i i {
    margin: .4em 0 .2em;
    font-size: 3em;
    color: #ffffff55;
}

.testimonial-i .name,
.testimonial .name {
    font-weight: 700;
}

article aside {
    font-size: .8rem;
}

.testimonial-i img {
    width: 100%;
    border-radius: 12px;
    height: 206px;
    object-fit: cover;
    object-position: 50% 37%;
    margin-top: -110px;
}

.testimonial img {
    width: 180px;
    margin: 1.3em auto;
    display: block;
}

@media (min-width: 600px) {
    .testimonial-i {
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        gap: 1.7em;
        position: relative;
        height: 380px;
        margin: 3em 0;
    }

    .testimonial {
        text-align: center;
        padding-left: 10em;
        padding-right: 10em;
    }

    .testimonial-i article {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .testimonial-i p {
        font-size: 1.1rem;
    }

    .testimonial-i img {
        max-width: 384px;
        min-width: 300px;
        height: 464px;
        margin-top: -3.65em;
    }
}

@media (min-width: 900px) {
    .testimonial-i {
        padding-left: 4em;
        padding-right: 4em;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .testimonial {
        padding-left: 15em;
        padding-right: 15em;
    }

    .testimonial-i article {
        max-width: none;
    }
}